---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<img class="headshot" src="/img/headshot.jpg" />

<h1>👋✨ Hello, I'm Michelle!</h1>

<p>I'm a Software Engineer, currently working at <b>Twitter</b> in London.
Formerly of <b>Condé Nast</b>, where I worked on Vogue, GQ and Bon Appétit.
I also run <a href="http://nodegirls.com/">Node Girls</a>.</p>

<p>You'll find me writing <i>JavaScript</i>, <i>Node</i>, <i>React</i> and <i>GraphQL</i>,
and delivering technical talks 💃
</p>

<p>When I'm not coding, I love to cook 🍝</p>

<p>{% feather "linkedin" %} <a href="https://www.linkedin.com/in/msmichellegar/" target="_blank">Add me on LinkedIn</a></p>
<p>{% feather "twitter" %} <a href="http://twitter.com/msmichellegar" target="_blank">Follow me on Twitter</a></p>
