---
layout: layouts/base.njk
permalink: /recipes/
eleventyNavigation:
  key: Recipes
  order: 4
---
<h1>Recipes</h1>

<p>I love to cook!
Here's a little compendium of my favourite recipes 🍝</p>

<h3>Nigella's <i>Lasagne of Love</i></h3>

<p>This is the *definitive* <a href="https://www.nigella.com/recipes/lasagne-of-love" target="_blank">lasagne recipe</a>, courtesy of Queen Nigella.
I want it every year for my birthday.
It's the perfect way to spend six hours.</p>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Never regret spending an entire Sunday making <a href="https://twitter.com/Nigella_Lawson?ref_src=twsrc%5Etfw">@Nigella_Lawson</a>’s Lasagne of Love 🤤❤️ <a href="https://t.co/yieWx9KTlI">pic.twitter.com/yieWx9KTlI</a></p>&mdash; Michelle Garrett ✨ (@msmichellegar) <a href="https://twitter.com/msmichellegar/status/1429552543055687692?ref_src=twsrc%5Etfw">August 22, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<h3>Ina Garten's <i>Penne Arrabiata</i></h3>

<p>I'll take any excuse to eat 24 cloves of garlic, and this <a href="https://www.washingtonpost.com/recipes/ina-gartens-arrabbiata-sauce/17700/  target="_blank">pasta sauce</a> from Ina Garten is extremely delicious.
After making this recipe I became obsessed with fennel seeds.</p>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">On the weekend I cooked this stunning pot of penne arrabiata featuring 24 cloves of garlic. My Autumnal distraction/recommendation: <a href="https://t.co/ayaLnZZb1D">https://t.co/ayaLnZZb1D</a> <a href="https://t.co/gxFqFUYxUN">pic.twitter.com/gxFqFUYxUN</a></p>&mdash; Michelle Garrett ✨ (@msmichellegar) <a href="https://twitter.com/msmichellegar/status/1311258551118069760?ref_src=twsrc%5Etfw">September 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>